body {
    background-color: #000;
    /* Color de fondo negro */
    color: #fff;
    /* Color del texto blanco */
    font-family: Arial, sans-serif;
}

header {
    background-color: #00ff00;
    /* Color de fondo verde brillante para el encabezado */
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    /* Color del texto blanco */
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff00ff;
    /* Color del texto rosa brillante al pasar el ratón */
}

main {
    padding: 20px;
}

#acerca-de {
    background-color: #ff00ff;
    /* Color de fondo rosa brillante para la sección "Acerca de" */
    padding: 20px;
}

#acerca-de h2 {
    color: #00ffff;
    /* Color del título cian brillante */
}

#acerca-de p {
    color: #ffff00;
    /* Color del texto amarillo brillante */
}

footer {
    background-color: #00ffff;
    /* Color de fondo cian brillante para el pie de página */
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}